<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if login %}
    <ol>
        <li>Home</li>
        <li>Profile</li>
        <li>Cart</li>
        <li>Logout</li>
    </ol>
    {% else %}
    <ol>
        <li>Register</li>
        <li>Login</li>
    </ol>
    {% endif %}
    <h3>greatest of two numbers</h3>
    {% if a > b %}
        <h1>a is greater</h1>
    {% else %}
    <h1>b is greater</h1>
    {% endif %}
</body>
</html>